<template>
    <div>
        <h1>Hello from {{ compiler }} and {{ framework }}!</h1>
        <button type="button" @click="fire">Fire!</button>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { MyAPI } from '../rest-api/myAPI';

    @Component({
        props: ['framework', 'compiler']
    })
    export default class Hello extends Vue {
        framework: string;
        compiler: string;

        async fire() {
            let x = new MyAPI({
                baseUri: 'http://localhost:27840/'
            });

            let y = await x.post({
                name: 'Ryan'
            });

            console.log(y.name);
        }
    }
</script>
